// ==========================================================================
// VARIABLES
// ==========================================================================//

// ==========================================================================
// INCLUDES:
//
// * Media query breakpoints
// * $zindex map
//
// RELATED:
// * Fonts (see custom/fonts/_font-variables.scss)
// * Colors (see custom/_colors.scss)

// Other variables - unlikely to change between projects - can be found where they're first used.

// ==========================================================================//

//Media queries breakpoints

$xs: 767px;
$sm: 991px;
$md: 1199px;

//z-index

$zindex: (
	overlay: 5000,
	dropdown: 4000,
	nav: 3000,
	pseduo: 2000,
	default: 1,
	hidden: -10000
);