// ==========================================================================
// MEDIA QUERIES (classes related to mobile size)
// ==========================================================================//

//hidden elements

.hide-xs {
	@include media($xs) {
		display: none;
	}
}

.hide-sm {
	@include media($sm) {
		display: none;
	}
}

.hide-md {
	@include media($md) {
		display: none;
	}
}

//visible elements

.show-xs, .show-sm, .show-md {
	display: none;
}

.show-xs {
	@include media($xs) {
		display: block;
	}
}

.show-sm {
	@include media($sm) {
		display: block;
	}
}

.show-md {
	@include media($md) {
		display: block;
	}
}