// ==========================================================================
// TYPOGRAPHY
// ==========================================================================//

//see custom/fonts/_font-sizes.scss for font sizing

//accents

.underline { text-decoration: underline; }
.italic  { font-style: italic; }
.bold { font-weight: $font-weight--bold; }

.loud {
	@extend .bold;
	color: $color-primary;
}

//text-align

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

//text-transform

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

//line height

.line-height--none { line-height: $line-height--none; }
.line-height--2 { line-height: $line-height--2; }
.line-height--3 { line-height: $line-height--3; }